<% layout('./layout/boilerplate') -%>
<div class="mainDiv container">
    <h2 class="fs-4">Admin Actions</h2>
    <div class="d-flex flex-column contentHolder">
        <a href="/admin/employee/add">Add Employee</a>
        <a href="/admin/deleteEmployee">Delete Employee</a>
        <a href="/admin/editEmployee">Edit Employee</a>
        <a href="/admin/addAdmin">Add Admin</a>
    </div>
    <h2 class="fs-4">Admin Reports</h2>
    <div class="d-flex flex-column contentHolder">
        <a href="/admin/userDetails">See users</a>
        <a href="/admin/pendingDiaryEntries/selectWeek">See pending diary entries</a>
        <a href="/admin/pendingManagerRatings">See pending manager feedbacks</a>
        <a href="">See ratings</a>
    </div>
</div>
