<% if (currentUser) { %>
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: lightpink !important;">
    <div class="container-fluid container">
        <a class="navbar-brand" href="/home">My Diary</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/diaryEntry/new">Add Diary Entry</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/outcome/new">Add Outcome</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/employee/diaryEntries">My Diary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/employee/outcomes">My Outcomes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manager/reporteeList">My Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/employee/profile">My Profile</a>
                </li>
                <% if(currentUser.isAdmin) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/home">Admin</a>
                    </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/logout">Logout</a>
                </li>
            </ul>
      </div>
    </div>
  </nav>
  <% } %>