<% layout('./layout/boilerplate') -%>
<div class="mainDiv container">
    <div class="vh-100 d-flex flex-column justify-content-center align-items-center">
        <img src="/img/angry.png" alt="Angry Donald Duck" style="width: 200px;" class="mb-5">
        <h1 class="fs-6">Uh-oh, something is certainly not right here</h1>
        <p class="text-muted mb-3">Take a deep breath. These things do happen. Send an email to our team.</p>
        <p class="text-muted">Till that time, you can go <a href="/">home</a></p>
    </div>
</div>